.home-banner {
  background-image: url('https://images.pexels.com/photos/2031702/pexels-photo-2031702.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}